@import "../helpers/mixins";
.header{
    width: 100%;
    position: fixed;
    z-index: 100;
    text-transform: capitalize;
    // background-color: rgba(0, 0, 0, 0.226);
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        @include media(mopile){
          position: relative;
     
  
                         }
       
        img{
            width: 70px;
            border-radius: 50%;
            @include media(mopile){
           width: 50px;
                
                                       }
           
        }
        .burger{
          display: none;
          @include media(mopile){
  display: block;
  background-color: white;
  // padding: 20px;
  border-radius: 50%;
  width: 50px;
    
                           }
        }
        .links{
          @include media(mopile){
            flex-direction: column;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.959);
            bottom: -350px;
            padding: 15px;
            border-radius: 15px;
            left: -150%;
            transform: translateX(-50%);
            width: 50%;
            transition: 0.3s;
            
                           }
            display: flex;
            gap: 15px;
            align-items: center;
            a{
                color: white ;
                text-align: center;
            }
            .pro{
              font-size: 30px;
              background-color: white;
              border-radius: 15px;
              color: black;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 10px;
              
            }
            .btn {
                outline: 0;
                display: inline-flex;
                align-items: center;
                justify-content: space-between;
                background: #40B3A2;
                // min-width: 200px;
                border: 0;
                border-radius: 4px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
                box-sizing: border-box;
                padding: 16px 20px;
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                overflow: hidden;
                cursor: pointer;
              }
              
              .btn:hover {
                opacity: .95;
              }
              
              .btn .animation {
                border-radius: 100%;
                animation: ripple 0.6s linear infinite;
              }
              
              @keyframes ripple {
                0% {
                  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
                }
              
                100% {
                  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
                }
              }
        }
    }
    
    .links-active{
      left: 50% !important;
    }
}


.dropdown {
  position: relative;
  display: inline-block;

  .dropdown-toggle {
    background-color: #234dc2;
    
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0f0f0f;
    }

    .arrow {
      margin-left: 10px;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 100%;
    opacity: 0;
    transform: translateY(-10px);
    animation: dropdown-animation 0.3s forwards;

    .dropdown-item {
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  @keyframes dropdown-animation {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}