.contact{
    width: 100%;
    padding-top:100px ;
    padding-bottom: 50px;
    min-height: 90vh;
    background-color:hsla(72,0%,0%,1);
background-image:
radial-gradient(at 26% 49%, hsla(275,100%,45%,1) 0px, transparent 50%),
radial-gradient(at 59% 0%, hsla(272,93%,44%,1) 0px, transparent 50%),
radial-gradient(at 52% 89%, hsla(275,93%,36%,1) 0px, transparent 50%);
.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
    margin: auto;
  }
  
  .form .title {
    color: royalblue;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(219, 213, 213);
    padding: 8px 14px;
    border-radius: 8px;
    
    height: 50px;
    width: 90%;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 90%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: royalblue;
    color: #fff;
    cursor: pointer;
  }
      
}