.profile-page {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 90vh;
  background-color: hsl(72, 0%, 0%);
  background-image: radial-gradient(at 26% 49%, hsl(275, 100%, 45%) 0px, transparent 50%), radial-gradient(at 59% 0%, hsl(272, 93%, 44%) 0px, transparent 50%), radial-gradient(at 52% 89%, hsl(275, 93%, 36%) 0px, transparent 50%);
}
.profile-page .container {
  /*DELETE THIS TWO LINE*/
  /*IF USING IMAGES*/
  /* Change the .card-img div to .card-img img to use img*/
}
.profile-page .container .my-pack {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
}
.profile-page .container .my-pack .packs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.profile-page .container .my-pack .packs .pack {
  text-transform: capitalize;
  border: 3px solid rgb(93, 93, 158);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile-page .container .my-pack .packs .pack a {
  border: 2px solid rgb(93, 93, 158);
  border-radius: 15px;
  padding: 10px;
  margin: 0 auto;
}
.profile-page .container .project-info {
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: -50px;
}
.profile-page .container .project-title {
  font-weight: 500;
  font-size: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}
.profile-page .container .lighter {
  font-size: 0.9em;
}
.profile-page .container .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-page .container .tag {
  font-weight: lighter;
  color: grey;
}
.profile-page .container .delete {
  background-color: #b2b2fd;
}
.profile-page .container .card-img div {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-page .container .card-img div img {
  width: 100px;
}
.profile-page .container .card {
  background-color: white;
  color: black;
  width: 300px;
  max-height: 330px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin: 40px auto;
}
.profile-page .container .card-img {
  position: relative;
  top: -20px;
  height: 100px;
  display: flex;
  justify-content: center;
}
.profile-page .container .card-img a,
.profile-page .container .card-img div {
  height: 150px;
  width: 90%;
  /* Change this width here to change the width of the color/image */
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.profile-page .container .card-imgs {
  transition: all 0.5s;
}

.form-container {
  max-width: 400px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
  margin: 50px auto;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .logo-container {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 80%;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}

.form-container .form-group input::-moz-placeholder {
  opacity: 0.5;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #1778f2;
}

.form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin: 12px 0;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.form-container .form-submit-btn:hover {
  background-color: #313131;
}

.form-container .link {
  color: #1778f2;
  text-decoration: none;
}

.form-container .signup-link {
  align-self: center;
  font-weight: 500;
}

.form-container .signup-link .link {
  font-weight: 400;
}

.form-container .link:hover {
  text-decoration: underline;
}/*# sourceMappingURL=profile.css.map */